a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #0088a9;
}

.box {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 200px;
  grid-template-areas:
    'hd'
    'main'
    'ft';
}

#banner {
  grid-area: hd;
  background-color: #191919;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Monoton', sans-serif;
  color: #edf0f1;
  font-size: 50px;
  padding: 0px 10px;
}

.logo:hover {
  color: white;
}

.bar {
  color: #edf0f1;
  display: inline-block;
  font: 1.2em 'Montserrat', sans-serif;
  padding: 0px 8px;
  list-style: none;
}

.bar:hover {
  color: #0088a9;
}

#main {
  grid-area: main;
}

#main h3 {
  line-height: 1px;
}

.first-subtitles {
  margin: 15px 20px 3px;
}

.section-for-subtitles {
  border-left: 7px solid #202020;
  background-color: #f0f0f0;
  padding: 6px;
  height: 1.1em;
  font: 1.5em 'Raleway', sans-serif;
}

.posters {
  width: 18em;
  padding: 15px 12px 5px 20px;
}

.article-identifier {
  display: flex;
  padding: 0px;
}

.article-identifier h3 {
  line-height: 5px;
  color: #2e3d49;
}

.basic-info {
  margin: 0px;
  font-size: 1.7em;
}

.basic-info h3 {
  color: #2e3d49;
}

.basic-info,
li {
  list-style: none;
  line-height: 2.5em;
}

.basic-info,
ul {
  padding: 0;
}

.bold {
  font-weight: bold;
  color: #2e3d49;
}

.italic {
  font-style: italic;
  color: rgb(110, 110, 110);
}

.article-author-identifier {
  padding: 0px 20px;
  font-size: 1.1em;
}

.article-author-identifier h1,
h3 {
  line-height: 1.1em;
  color: #2e3d49;
}

.article-content {
  padding: 0px 15px;
  text-align: justify;
}

.learn-more:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
}

.article-content p {
  font: 1.2em 'IBM Plex Sans KR', sans-serif;
}

#footer {
  grid-area: ft;
  margin-top: 50px;
}

footer {
  width: 100%;
}

.first-footer {
  background-color: #191919;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-links {
  display: inline-block;
  list-style: none;
  padding: 5px 5em;
}

.social-links a {
  text-decoration: none;
  color: #edf0f1;
}

.social-links a i {
  font-size: 3.5em;
}

.social-links a:hover i {
  color: #0088a9;
}

.second-footer {
  background-color: #0a0a0a;
  color: #edf0f1;
  justify-content: center;
  text-align: center;
  font: 0.9em 'Montserrat', sans-serif;
}

@media (min-width: 985px) and (max-width: 1150px) {
  .article-identifier {
    font-size: 1em;
  }

  .article-content p {
    font-size: 1.35em;
  }
}

@media (min-width: 1151px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 135px 1fr 200px;
  }

  .logo {
    font-size: 60px;
    padding: 0px 14px;
  }

  .bar {
    font-size: 22px;
    padding: 0px 12px;
  }

  .article-identifier {
    font-size: 1em;
  }

  .article-content p {
    font-size: 1.35em;
  }
}
