.container {
  display: grid;
  grid-template-columns: 980px;
  grid-template-rows: 500px 1fr 1fr 110px;
  grid-template-areas:
    "hd"
    "main"
    "others"
    "ft";
}

.box {
  border: 5px solid red;
  background-color: yellow;
}

#Main {
  grid-area: main;
}

#banner {
  grid-area: hd;
}

#Side {
  grid-area: others;
}

#footer {
  grid-area: ft;
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 1fr 110px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main others others others others others"
      "ft ft ft ft ft ft ft ft";
  }

  .box {
    border: 5px solid red;
    background-color: yellow;
  }

  #Main {
    grid-area: main;
  }

  #banner {
    grid-area: hd;
  }

  #Side {
    grid-area: others;
  }

  #footer {
    grid-area: ft;
  }
}
